	<title>Bratil - Perfil do usuário {{user.name}}</title>
	<style>
		@font-face {
	    font-family: 'main-font';
	    src: url('/css/fonts/Poppins-Light.ttf');
	  }
		* {
			margin: 0px;
			padding: 0px;
		}
		
		body {
			font-family: 'main-font';
			color: white;
			background: rgb(32,33,37);
		}
		
		.welcome-to-profile {
			color: rgb(0,170,255);
			height: 200px;
			margin-top: 50px;
			margin-bottom: 25px;
		}
		
		.welcome {
			font-size: 25pt;
		}
		
		.dataP {
			/*font-size: 15pt;*/
		}
		
		.card-h2 {
			font-size: 15pt;
		}
		
		hr {
			background: white;
		}
		
	.exit-container {
		z-index: 10;
		position: absolute;
		top: 5px;
		right: 5px;
		width: 45px;
		height: 45px;
		background: rgb(32,33,37);
		box-shadow: 1px 1px 10px black;
		border-radius: 100%;
	}
	
	.exit-container .bi-box-arrow-right {
		color: rgb(0,140,255);
		font-size: 18pt;
	}
		
	</style>
</head>
<body>
{{>_alert}}
{{#if error_msg}}
<script>
	BratilAlert({
		title: 'erro:',
		body: `{{error_msg}}`,
		button: 'OK, não tem problema!'
	})
</script>
{{/if}}
	<div class="container text-center">
		<div class="exit-container text-center">
			<a href="/user/logout">
				<i class="bi bi-box-arrow-right"></i>
			</a>
		</div>
		
		<img class="welcome-to-profile" src="/img/welcome.png">
		<h1 class="welcome mb-4">Bem-vindo {{user.name}}!</h1>
		<p class="dataP">Esta é o seu perfil de usuário:</p>
		
		<div class="card">
			<div class="card-body">
				<h2 class="card-h2">Dados pessoais:</h2>
				<hr>
				<p>nome: {{user.name}}</p>
				<p>E-mail: {{user.email}}</p>
				<p>Senha: {{user.password}}</p>
			<a href="/user/edit"><button class="mt-3 BratilButton">Editar dados</button></a>
			</div>
		</div>
		
		<button onclick="DeleteAccount()" class="BratilButton mt-4" style="background:red;">Apagar minha conta</button>
		
	</div>
	<div style="margin-top:120px;">
		{{>_footer}}
	</div>
	<script>
		function DeleteAccount() {
			BratilAlert({
				title: 'Excluir conta',
				body: 'Você realmente deseja excluir sua conta? Todos os dados vinculados a sua conta da Bratil serão apagados. Caso você realmente queira click no butão abaixo, caso não queira click em qualquer lugar ao redor deste pop-up!',
				button: 'Sim, quero excluir minha conta!'
			})
			
			BratilAlertAgreed().then(() => {
				fetch('http://localhost:3000/user/delete?cookie='+encodeURIComponent(document.cookie), { method: 'DELETE' }).then(async (data) => {
					
					data = await data.json()
					
					if (data.OK) {
						BratilAlert({
							title: 'Conta excluida',
							body: data.message,
							button: 'Certo, obrigado!'
						})
						setTimeout(() => {
							window.location = '/'
						}, 2000)
					} else {
						BratilAlert({
							title: 'Erro:',
							body: data.message,
							button: 'Certo, não tem problema!'
						})
					}
				}).catch((error) => {
					BratilAlert({
							title: 'Erro:',
							body: 'Houve um erro desconhecido ao excluir sua conta!',
							button: 'Certo, não tem problema!'
						})
				})
			})
			
		}
	</script>
</body>